<div class="home">
    <img class="gorilla" src="images/codegorilla.png" alt="codegorilla">

<h1 style="margin-top: 0;"><span style="color: #FFF">&lt;code&gt;</span>gorilla</h1>


</div>

<div class="home">
  <h4>What’s Code Gorilla.</h4>

  <p>
    Code gorilla is a company that trains people to be full-stack Web Developers through agile learning.<p>
    This is by means of a three month bootcamp which participants act as a full company,<p
    > and a three month internetship, so they end up as full-fledged junior developers.<p>
  </p>
</div>
