<body>

<h2> Registration </h2>


<form class="html" name="registration" onSubmit="return formValidation();">
  <P>
    <ul>
<li><label for="username">User-name:</label>
<input type="text" class="dotted" name="gebruikersnaam" size="30" />
<P>
<li><label for="wachtwoord">Wachtwoord:</label>
<input type="text" name="wachtwoord" size="30" />
<P>
<li><label for="naam">Naam:</label>
<input type="text" name="Naam" size="30" />
<P>
<li><label for="achternaam">Achter naam:</label>
<input type="text" name="achternaam" size="30" />
<P>
<li><label for="bedrijf">Bedrijf naam:</label>
<input type="text" name="bedrijf" size="50" />
<P>
<li><label for="KVK">KVK:</label>
<input type="text" name="KVK" size="50" />
<P>
<li><label for="telefoon">Telefoon:</label>
<input type="text" name="telefoon" size="50" />
<P>
<li><label for="email">Email:</label>
<input type="text" name="email" size="50" />
<P>
<li><input type="submit" name="submit" value="versturen" />

</form>
<body>
